<!DOCTYPE HTML>
<html>

<head>
    <title>About - Forecast</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles.css') }}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>

<body>
    <div id="header">
        <img src="/static/imgs/logo.png"/>
        <div id="sitename">| &nbsp;About</div>
        <nav id="navbar">
            <a onclick="toggleDarkmode()"><img id="toggle" title='Toggle dark mode' src="/static/imgs/toggle.png"/></a>
            <input id="menu" type="checkbox"/>
            <label for='menu'><img src="/static/imgs/settings.png"/></label>
            <nav id="dropdown">
                <a class='link' href="dashboard" onclick="closeMenu()">Dashboard</a>
                <a class="link" href="help" onclick="closeMenu()">Help</a>
                <a class="link" href="about" onclick="closeMenu()">About</a>
            </nav>
        </nav>
    </div>
    <div id="block" class="addtl">
        <span style="opacity:0.75;">
            Website to experiment with a couple of concepts learned from a recent data science course!<br><br>
            I used Monte Carlo methods to simulate Geometric Brownian Motion based on historical stock data from yfinance, 
            and a support vector classifier to calculate sentiment from Reddit's wallstreetbets.<br>
            <br><br>Check out the code here:<br><br>
        </span>
        <a href="https://github.com/keatox/Forecast" target="_blank">
            <img style="width: 60px; background-color: white; border-radius: 100%;" src='/static/imgs/octocat.png'/>
        </a><br><br><br>
    </div>
</body>

</html>