<!DOCTYPE HTML>
<html>

<head>
    <title>About</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles.css') }}"> 
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>

<body>
    <div id="header">
        <img src="/static/imgs/logo.png"/>
        <div id="sitename">| &nbsp;Dashboard</div>
        <nav id="navbar">
            <input id="menu" type="checkbox"/>
            <label for='menu'><img src="/static/imgs/settings.png"/></label>
            <nav id="dropdown">
                <a class='link' href="dashboard" onclick="closeMenu()">Dashboard</a>
                <a class="link" href="help" onclick="closeMenu()">Help</a>
                <a class='link' onclick="toggleDarkmode()">Light/Darkmode</a>
                <a class="link" href="about" onclick="closeMenu()">About</a>
            </nav>
        </nav>
    </div>
    <p id="ticker"><b>{{ ticker }}</b><p>
    <div id="content">
        <div id="graph">
            <div id="block"><div id="plot">{{ chart|safe }}</div></div>
            <div id="block" class="data">
                ahdeahaeuhd<br>a<br>bi
                <form method='POST' action="/">
                    <input name='dashsearch' id='dashsearch' type="search" placeholder="Enter new stock" required/>
                </form> 
                {% if error %}
                    <div id="error2">{{ error }}</div>
                {% endif %}
            </div>
        </div>
        <div id="block" class="sidebar">
            <div id='sentiment'><b>Sentiment</b></div><br>
            <div id="score">{{ score }}</div><br>
            <b>Top Comments</b><hr id="linebreak">
            <ul class="comments">
                <div style='text-align: left;margin-top:-5%;'><b>Positive</b></div>
                <li>{{ positive[0] }}</li>
                <li>{{ positive[1] }}</li>
                <li>{{ positive[2] }}</li>
            </ul>
            <ul class="comments">
                <div style='text-align: left;margin-top:-5%;'><b>Negative</b></div>
                <li>{{ negative[0] }}</li>
                <li>{{ negative[1] }}</li>
                <li>{{ negative[2] }}</li>
            </ul>
        </div>
    </div>
</body>

</html>