<!DOCTYPE HTML>
<html>

<head>
    <title>Dash - Forecast</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles.css') }}"> 
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>

<body>
    <div id="header">
        <img src="/static/imgs/logo.png"/>
        <div id="sitename">| &nbsp;Dashboard</div>
        <nav id="navbar">
            <input id="menu" type="checkbox"/>
            <label for='menu'><img src="/static/imgs/settings.png"/></label>
            <nav id="dropdown">
                <a class='link' href="dashboard" onclick="closeMenu()">Dashboard</a>
                <a class="link" href="help" onclick="closeMenu()">Help</a>
                <a class='link' onclick="toggleDarkmode()">Light/Darkmode</a>
                <a class="link" href="about" onclick="closeMenu()">About</a>
            </nav>
        </nav>
    </div>
    <p id="ticker"><b>{{ fullname }}</b><p>
    <div id="content">
        <div id="graph">
            <div id="block" class="plot">{{ chart|safe }}</div>
            <div id="block" class="data">
                <div class="center">{{ ticker }}<br><br></div>
                <div id='info' style="float: left;">
                    Predicted price:<br>
                    Original price:<br>
                    Percent change:<br>
                    52-wk high:<br>
                    52-wk low:<br><br>
                </div>
                <div style="margin-left: 3%; float: left;">
                    <div class="inlay">$ {{ pprice }}</div><br>
                    <div class="inlay">$ {{ oprice }}</div><br>
                    <div class="inlay">&ensp;&nbsp;&nbsp;{{ change }}%</div><br>
                    <div class="inlay">$ {{ high }}</div><br>
                    <div class="inlay">$ {{ low }}</div><br><br>
                </div>
                <div style="margin-left: 20%; margin-right: 3%; float: left;">
                    Country:<br>   
                    Sector:<br>    
                    Industry:<br>   
                    Volume:<br>    
                    Market cap:<br><br>    
                </div>
                <div style="display: block; white-space: nowrap;overflow: hidden;text-overflow:ellipsis;">
                    <div class="inlay">{{ country }}</div><br>   
                    <div class="inlay">{{ sector }}</div><br>
                    <div class="inlay">{{ industry }}</div><br>
                    <div class="inlay">{{ volume }}</div><br>
                    <div class="inlay">{{ markcap }}</div><br><br>
                </div>
                <form method='POST' action="/" class="center">
                    <input name='dashsearch' id='dashsearch' type="search" placeholder="Enter new stock" required/>
                </form> 
                {% if error %}
                    <div id="error2">{{ error }}</div>
                {% endif %}
            </div>
        </div>
        <div id="block" class="sidebar">
            <div id='sentiment'><b>Sentiment</b></div><br>
            <div id="score">{{ score }}</div><br>
            <b>Top Comments</b><hr id="linebreak">
            <ul class="comments">
                <div style='text-align: left;margin-top:-5%;'><b>Positive</b></div>
                <li>{{ positive[0] }}</li>
                <li>{{ positive[1] }}</li>
                <li>{{ positive[2] }}</li>
            </ul>
            <ul class="comments">
                <div style='text-align: left;margin-top:-5%;'><b>Negative</b></div>
                <li>{{ negative[0] }}</li>
                <li>{{ negative[1] }}</li>
                <li style="margin-bottom: -15px">{{ negative[2] }}</li>
            </ul>
        </div>
    </div>
</body>

</html>