<!DOCTYPE HTML>
<html>

<head>
    <title>Help - Forecast</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles.css') }}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>

<body>
    <div id="header">
        <img src="/static/imgs/logo.png"/>
        <div id="sitename">| &nbsp;Help</div>
        <nav id="navbar">
            <input id="menu" type="checkbox"/>
            <label for='menu'><img src="/static/imgs/settings.png"/></label>
            <nav id="dropdown">
                <a class='link' href="dashboard" onclick="closeMenu()">Dashboard</a>
                <a class="link" href="help" onclick="closeMenu()">Help</a>
                <a class='link' onclick="toggleDarkmode()">Light/Darkmode</a>
                <a class="link" href="about" onclick="closeMenu()">About</a>
            </nav>
        </nav>
    </div>
    <div id="block" class="addtl">
        THE GRAPH<hr id="linebreak">
        <div style="opacity: 0.5;">You can scroll up to zoom in and down to zoom out, 
        however due to the size of the data it may be quite glitchy. 
        Instead, consider drawing a box around the given data to zoom.<br><br>
        Double click anywhere on the chart to zoom back out.<br><br><br></div>

        THE SENTIMENT<hr id="linebreak">
        <div style="opacity: 0.5;">Scores range from 0-10, 
        but due to the number of comments considered calculated scores tend to skew more towards 5.<br><br>
        Thus, scores less than 4 indicate significant negative opinion, 
        while scores greater than 6 indicate notable positive standings.<br><br><br></div>

        THE SEARCHBAR<hr id="linebreak">
        <div style="opacity: 0.5;">For the best results, enter the company name or stock ticker precisely. 
        As an easier option, click on a suggested autocomplete option.</div>

        <br style="display: block; content: ''; margin-top: 35%;">
        <em style="font-size: 14px; opacity: 0.75;">A section to clear up some less intuitive features.</em>
    </div>
</body>

</html>