<!DOCTYPE HTML>
<html>

<head>
    <title>Forecast</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles.css') }}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>

<body>
    <img id="logo" class='landing' src="static/imgs/logo.png"/>
    <form method='POST' action="/">
        <input name='landingsearch' id='landingsearch' class='landing' type="search" placeholder="Enter a stock" required/>
    </form> 
    {% if error %}
        <div id="error">{{ error }}</div>
    {% endif %}
</body>

</html>